<h1 mat-dialog-title>Añadir posición</h1>
<div mat-dialog-content>
   
  <mat-form-field  class="example-full-width" >
      <mat-label>Código</mat-label>
     
    <input matInput placeholder="código material" name="codigo" [(ngModel)]="data.codigo"
    (change)= "changeCodigo()">
  </mat-form-field>  
  <!-- <mat-form-field>
    <input matInput placeholder="countChange" name="countChange" [(ngModel)]="countChange">
  </mat-form-field>  -->
  <mat-form-field  class="example-full-width">
      <mat-label>Descripción</mat-label>
    <input matInput readonly placeholder=""   [(ngModel)]="data.name">
  </mat-form-field>  
   <mat-form-field  class="example-full-width">
      <mat-label>Unidad</mat-label>
      <mat-select name="Unidad" [(ngModel)]=data.symbol>
        <mat-option *ngFor="let uni of unis" [value]="uni.value">
          {{uni.viewValue}}
        </mat-option>
      </mat-select>
  </mat-form-field>  
 
  <mat-form-field  class="example-full-width">
      <mat-label>Cantidad</mat-label>
    <input matInput placeholder="cantidad"   [(ngModel)]="data.comment">
  </mat-form-field>   

  <mat-form-field  *ngIf="data.tipoMov == 002" class="example-full-width">
    <mat-label>Motivo</mat-label>
    <mat-select name="Motivo" [(ngModel)]=data.motivo>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>  

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="data" color = "primary" cdkFocusInitial>Ok</button>
</div>