.course {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.course-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}

.description-cell {
  text-align: left;
  margin-right: 20px auto;
  margin-left: 20px auto;
  //min-width: 100px;
  cursor: pointer;
}

/* 
.unidad {
  text-align: right;
  margin-left: 10px;
} */

.duration-cell {
  text-align: right;
}

.duration-cell mat-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.botons {
  margin-top: 20px;
}