
 
<div *ngIf="idPedido != '0'" fxLayout fxLayoutAlign="start center" class="margin-container2">
  
 <h2  class="mat-h2"  style="padding-left: 20px"> <mat-icon>local_shipping</mat-icon>  Pedido {{this.idPedido}}</h2>

</div> 


<div *ngIf="showAlbaran" fxLayout fxLayoutAlign="start center" class="margin-container2 aligned">

 <h3 *ngIf="showAlbaran" class="mat-h3"  style="padding-left: 20px" ><mat-icon>list</mat-icon>       Albarán {{this.albaran}}</h3>

</div>
<mat-expansion-panel [expanded]='isExpanded' *ngIf= "idPedido=='0'" class="margin-container example-headers-align mat-elevation-z3"> 

  <mat-expansion-panel-header>
    <mat-panel-title> Nueva Posición</mat-panel-title>
    <mat-panel-description>
       Añadir posición a entrada 
      <mat-icon>note_add</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form novalidate  #f="ngForm">

    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutGap.lt-sm='5px'
      fxLayoutAlign="flex-start" >
      <ng-container>
 
  
  <mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Código</mat-label>
  <input matInput placeholder="código material"  name="codigo" [(ngModel)]="newCodigo" [ngModelOptions]="{ updateOn: 'blur' }" (keydown.enter)="$event.target.blur();"
    appArticuloExist required>
  <button mat-icon-button matSuffix (click)="goSearchArticulo()" [attr.aria-label]="'Search'" [attr.aria-pressed]="hide">
      <mat-icon>search</mat-icon>
      </button>
</mat-form-field>  
<div *ngIf="f.form.controls.codigo?.pending">Validando...</div>
<div *ngIf="f.form.controls.codigo?.invalid && (f.form.controls.codigo?.dirty || f.form.controls.codigo?.touched)" class="alert alert-danger">
  <div *ngIf="f.form.controls.codigo?.errors.required">
    El código de material es obligatorio
  </div>
  <div *ngIf="!(f.form.controls.codigo?.errors.articuloExist)">
      El articulo no existe o no está asignado al proveedor
   </div>
</div>
<!-- <mat-form-field>
  <input matInput placeholder="countChange" name="countChange" [(ngModel)]="countChange">
</mat-form-field>  -->
<mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Descripción</mat-label>
  <input matInput readonly name="descripcion"  placeholder=""   [(ngModel)]="newName">
</mat-form-field>  
<mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Unidad</mat-label>
    <mat-select id="unidad" name="unidad" placeholder="" [(ngModel)]="newSymbol" required>
      <mat-option *ngFor="let uni of unis" [value]="uni.value">
        {{uni.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>  
<mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Cantidad</mat-label>
  <input id="cantidad" matInput placeholder="cantidad"  name="cantidad"  [(ngModel)]="newComment" required>
</mat-form-field>   
<div *ngIf="f.form.controls.cantidad?.invalid && (f.form.controls.cantidad?.dirty || f.form.controls.cantidad?.touched)" class="alert alert-danger">
  <div *ngIf="f.form.controls.cantidad?.errors.required">
    El campo cantidad es obligatorio
  </div>
</div>
<mat-action-row>
    <button mat-raised-button color="primary"  [disabled]="f.invalid ||f.form.controls.codigo?.pending" (click)="anyadir(f)" >Añadir</button>
  </mat-action-row>
</ng-container>
</div>

</form>
</mat-expansion-panel >

<div fxLayout fxLayoutAlign="center center" style="padding-top: 10px" >

  <form novalidate  #f2="ngForm">
  <mat-form-field>

    <input #filtrar matInput id="filtrar" name="filtrar" [ngModel]="filtrarText"  type="text"(keyup.enter)="addRow(true, filtrar.value, f2 )" (keyup)="doFilter($event.target.value)" placeholder="Filtrar" >


  </mat-form-field>
  </form>

  </div> <!--
 <div [ngClass.sm]="'myNarrowClass'"
 [ngClass.md]="'container-table'"
     [ngClass.gt-md]="'container-table'"
   > -->

  <!--  <div class="example-container margin-container mat-elevation-z8"> -->
    
    <div class="example-container margin-container">
  <mat-table #table  [dataSource]="dataSource" >
 <!--  [class.isMobile]="isMobile"> -->
            

      <ng-container matColumnDef="codigo">

          <mat-header-cell *matHeaderCellDef >#</mat-header-cell>

          <mat-cell  class="mat-typography" *matCellDef="let element"
           [routerLink]="['/articulo', element.id]"> 
           <span class="mobile-label">Código:</span>{{element.codigo}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="name">

          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>

          <mat-cell  class="description-cell mat-typography"
                    *matCellDef="let element"  [routerLink]="['/articulo', element.id]">
                    <span class="mobile-label">Descripción:</span>
                    {{element.name | titlecase}}</mat-cell>

      </ng-container>

       <!-- cantidad de referencia -->
      <ng-container matColumnDef="cantref">
        <mat-header-cell class="duration-cell align-right" *matHeaderCellDef> Cant.Ref.</mat-header-cell>
        <mat-cell  class="duration-cell mat-typography align-right" *matCellDef="let element"  [satPopoverAnchorFor]="pr" (click)="pr.open()">
            <span class="mobile-label">Cant.Ref.:</span> {{element.cantref}} 
          
            <sat-popover #pr
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="update(element, $event)"
            (opened)="getunidades(element, $event)">
          <inline-edit  [value1]="element.codigo" [value]="element.comment" [value2]="element.motivo" [value3]="element.symbol" [value4]="unidadesart" ></inline-edit>
        </sat-popover>
          
          </mat-cell>
      </ng-container>

   <!-- unidad de referencia --> 
   <ng-container matColumnDef="symbolref">
    <mat-header-cell class="duration-cell" *matHeaderCellDef> Ump</mat-header-cell>
    <mat-cell  class="duration-cell mat-typography " *matCellDef="let element"   [satPopoverAnchorFor]="psr" (click)="psr.open()">
        <span class="mobile-label">Uni.Ref:</span> {{element.symbolref}}

          
        <sat-popover #psr
        hasBackdrop
        xAlign="start"
        yAlign="start"
        (closed)="update(element, $event)"
        (opened)="getunidades(element, $event)">
      <inline-edit  [value1]="element.codigo" [value]="element.comment" [value2]="element.motivo" [value3]="element.symbol"[value4]="unidadesart" ></inline-edit>
    </sat-popover>
  </mat-cell>
  </ng-container>

       <!-- cantidad de entrada -->
      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef class="duration-cell align-right"> Cant. </mat-header-cell>
        <mat-cell class="duration-cell mat-typography text-color align-right" *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.comment">
              <span class="mobile-label">Cantidad:</span>
            {{element.comment}}
          </ng-container>
          <span class="add-comment" *ngIf="!element.comment">
            Indicar cantidad
          </span>

          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update(element, $event)"
              (opened)="getunidades(element, $event)">
            <inline-edit [value1]="element.codigo" [value]="element.comment"  [value2]="element.motivo" [value3]="element.symbol" [value4]="unidadesart" ></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>

       <!-- unidad de entrada --> 
      <ng-container matColumnDef="symbol">
        <mat-header-cell class="duration-cell" *matHeaderCellDef> Ump</mat-header-cell>
        <mat-cell  class="duration-cell mat-typography  text-color" *matCellDef="let element"   [satPopoverAnchorFor]="ps" (click)="ps.open()">
            <span class="mobile-label">Unidad:</span> {{element.symbol}}

              
            <sat-popover #ps
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="update(element, $event)"
            (opened)="getunidades(element, $event)">
          <inline-edit  [value1]="element.codigo" [value]="element.comment" [value2]="element.motivo" [value3]="element.symbol" [value4]="unidadesart" ></inline-edit>
        </sat-popover>
      </mat-cell>
      </ng-container>


      <ng-container matColumnDef="dif">
        <mat-header-cell class="duration-cell  align-right" *matHeaderCellDef> Dif.</mat-header-cell>
        <mat-cell  class="duration-cell mat-typography align-right" *matCellDef="let element"  [satPopoverAnchorFor]="pp" (click)="pp.open()">
            <span class="mobile-label">Dif.:</span> {{element.dif}}
          
            <sat-popover #pp
            hasBackdrop
            xAlign="start"
            yAlign="start"
            (closed)="update(element, $event)"
            (opened)="getunidades(element, $event)">
          <inline-edit  [value1]="element.codigo" [value]="element.comment" [value2]="element.motivo" [value3]="element.symbol" [value4]="unidadesart" ></inline-edit>
        </sat-popover>
          
          </mat-cell>
      </ng-container>


      <ng-container  matColumnDef="motivo">
          <mat-header-cell *matHeaderCellDef>Motivo</mat-header-cell>
          <mat-cell class="duration-cell mat-typography" *matCellDef="let element"> <span class="mobile-label mat-column-motivo">Motivo:</span>
  <mat-select  [(ngModel)]=element.motivo >
    <mat-option *ngFor="let motivo of motivos" [value]="motivo.value">
      {{motivo.viewValue | titlecase}}
    </mat-option>
  </mat-select>
</mat-cell>
</ng-container> 

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addRow( false, '' )"><i class="fa fa-plus mat-icon"></i></button>
        </mat-header-cell>
        <mat-cell class="duration-cell mat-typography" *matCellDef="let element"> <span class="mobile-label">Acción:</span>
          <button mat-icon-button  [disabled]="element.extra != 'X'"  color="warn" focusable="false" (click)="remove( element )">
              <mat-icon class="mat-18">delete</mat-icon>
              </button>
              <button mat-icon-button  style="padding-left: 5px" color="warn" focusable="false"  [satPopoverAnchorFor]="pp" (click)="pp.open()">
                <mat-icon class="mat-18">edit</mat-icon>
                </button>
      
        <sat-popover #pp
        hasBackdrop
        xAlign="start"
        yAlign="start"
        (closed)="update(element, $event)"
        (opened)="getunidades(element, $event)">
      <inline-edit  [value1]="element.codigo" [value]="element.comment" [value2]="element.motivo" [value3]="element.symbol" [value4]="unidadesart"></inline-edit>
    </sat-popover>
  </mat-cell>
      </ng-container> 
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-gold': row.dif }" ></mat-row>
  

  </mat-table>

  <mat-paginator #paginator 
             [length]="totalLength"
             [pageSize]="pageSize" 
             [pageIndex]="pageIndex"
             [pageSizeOptions]="[ 7, 10, 20]"
             (page)="changePage($event)" showFirstLastButtons>
  </mat-paginator>


</div>
<!--</div > -->

<div fxLayout="row wrap"  fxLayoutGap="5px" fxLayoutGap.lt-sm='5px'
fxLayoutAlign.lt-sm="flex-start" fxLayoutAlign.gt-sm="center center" style="padding-top: 20px">
  <button  fxFlex.lt-sm ="0 1 calc(50% - 5px)"   mat-raised-button (click)="goBack()" >   Salir   </button> 
  <button  fxFlex.lt-sm="0 1 calc(50% - 5px)"   mat-raised-button color="accent" (click)="goValidar()" >   Validar   </button> 
 
</div>

 <button *ngIf="idPedido != '0'" class="btnCreate" mat-fab color="primary" (click)="addRow( false , '')"><mat-icon>add</mat-icon></button> 









