.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}


.mat-row {
  width: 100%;
}

.botons {
  margin-top: 20px;
  text-align: left;
}


.mat-column-codigo {
  flex: 0 0 20% !important;
  min-width: 30px !important;
  cursor: pointer;
}
.mat-column-name {
  flex: 0 0 50% !important;
  min-width: 104px !important;
  cursor: pointer;
}


.mat-column-symbol {
  flex: 0 0 10% !important;
  min-width: 20x !important;
}


.mat-column-comment {
  flex: 0 0 10% !important;
  min-width: 20px !important;
  cursor: pointer;
}

.container-table {
   margin-left: 30px;
}


.mat-h2 {
  margin-left: 30px;
}


.mat-h3 {
  margin-left: 30px;
}



.myNarrowClass {
  margin-left: 0px;
}

.table-md {
  margin-left: 20px;
}

.mat-column-actionsColumn {
  flex: 0 0 10% !important;
  min-width: 20px !important;
}