
<!-- New version   -->
<!--<div class="course" fxFlex="90%" fxFlex.lt-sm="100%" > -->

  
 
<div *ngIf="idPedido != 0" fxLayout fxLayoutAlign="start center" class="example-container">
  
 <h2  class="mat-h2">Pedido {{this.idPedido}}</h2>

</div> 


<div *ngIf="showAlbaran" fxLayout fxLayoutAlign="start center" >

 <h3 *ngIf="showAlbaran" class="mat-h3">Albarán {{this.albaran}}</h3>

</div>
<mat-expansion-panel [expanded]='isExpanded' *ngIf= "idPedido=='0'" class="mat-elevation-z3"> 
  <mat-expansion-panel-header>
      <mat-panel-title> Nueva Posición</mat-panel-title>
   
  </mat-expansion-panel-header>
  
<!--<mat-card class="mat-elevation-z3">
  <mat-card-title></mat-card-title>
<mat-card-content> -->
  <form novalidate  #f="ngForm">

    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutGap.lt-sm='5px'
      fxLayoutAlign="flex-start">
      <ng-container>
 
  
  <mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Código</mat-label>
  <input matInput placeholder="código material" class="form-control" name="codigo" [(ngModel)]="newCodigo"
  (change)= "changeCodigo()" required>
  <button mat-icon-button matSuffix (click)="goSearchArticulo()" [attr.aria-label]="'Search'" [attr.aria-pressed]="hide">
      <mat-icon>search</mat-icon>
      </button>
</mat-form-field>  
<div *ngIf="f.form.controls.codigo?.invalid && (f.form.controls.codigo?.dirty || f.form.controls.codigo?.touched)" class="alert alert-danger">
  <div *ngIf="f.form.controls.codigo?.errors.required">
    El código de material es obligatorio
  </div>
</div>
<!-- <mat-form-field>
  <input matInput placeholder="countChange" name="countChange" [(ngModel)]="countChange">
</mat-form-field>  -->
<mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Descripción</mat-label>
  <input matInput readonly name="descripcion" class="form-control" placeholder=""   [(ngModel)]="newName">
</mat-form-field>  
<mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Unidad</mat-label>
    <mat-select id="unidad" name="unidad" class="form-control" placeholder="" [(ngModel)]="newSymbol" required>
      <mat-option *ngFor="let uni of unis" [value]="uni.value">
        {{uni.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>  
<mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-label>Cantidad</mat-label>
  <input id="cantidad" matInput placeholder="cantidad"  name="cantidad" class="form-control" [(ngModel)]="newComment" required>
</mat-form-field>   
<div *ngIf="f.form.controls.cantidad?.invalid && (f.form.controls.cantidad?.dirty || f.form.controls.cantidad?.touched)" class="alert alert-danger">
  <div *ngIf="f.form.controls.cantidad?.errors.required">
    El campo cantidad es obligatorio
  </div>
</div>
<mat-action-row>
    <button mat-raised-button color="primary"  [disabled]="f.invalid" (click)="anyadir(f)" >Añadir</button>
  </mat-action-row>
</ng-container>
</div>

</form>
</mat-expansion-panel >

<div fxLayout fxLayoutAlign="center center" style="padding-top: 10px" >


  <mat-form-field>

    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtrar">

  </mat-form-field>

  </div> <!--
 <div [ngClass.sm]="'myNarrowClass'"
 [ngClass.md]="'container-table'"
     [ngClass.gt-md]="'container-table'"
   > -->

   <div class="example-container mat-elevation-z8">
  <mat-table #table  [dataSource]="dataSource"  
  [class.isMobile]="isMobile">
            

      <ng-container matColumnDef="codigo">

          <mat-header-cell *matHeaderCellDef >#</mat-header-cell>

          <mat-cell  class="mat-typography" *matCellDef="let element"
           [routerLink]="['/articulo', element.id]"> 
           <span class="mobile-label">Código:</span>{{element.codigo}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="name">

          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>

          <mat-cell  class="description-cell mat-typography"
                    *matCellDef="let element"  [routerLink]="['/articulo', element.id]">
                    <span class="mobile-label">Descripción:</span>
                    {{element.name | titlecase}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell class="duration-cell" *matHeaderCellDef> Ump</mat-header-cell>
        <mat-cell  class="duration-cell mat-typography" *matCellDef="let element"  [routerLink]="['/articulo', element.id]">
            <span class="mobile-label">Unidad:</span> {{element.symbol}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="cantref">
        <mat-header-cell class="duration-cell" *matHeaderCellDef> Cant.Ref.</mat-header-cell>
        <mat-cell  class="duration-cell mat-typography" *matCellDef="let element"  [routerLink]="['/articulo', element.id]">
            <span class="mobile-label">Cant.Ref.:</span> {{element.cantref}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Cant. </mat-header-cell>
        <mat-cell class="duration-cell mat-typography" *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.comment">
              <span class="mobile-label">Cantidad:</span>
            {{element.comment}}
          </ng-container>
          <span class="add-comment" *ngIf="!element.comment">
            Indicar cantidad
          </span>

          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update(element, $event)">
            <inline-edit [value]="element.comment"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dif">
        <mat-header-cell class="duration-cell" *matHeaderCellDef> Dif.</mat-header-cell>
        <mat-cell  class="duration-cell mat-typography" *matCellDef="let element"  [routerLink]="['/articulo', element.id]">
            <span class="mobile-label">Dif.:</span> {{element.dif}} </mat-cell>
      </ng-container>


      <ng-container  matColumnDef="motivo">
          <mat-header-cell *matHeaderCellDef>Motivo</mat-header-cell>
          <mat-cell class="duration-cell mat-typography" *matCellDef="let element"> <span class="mobile-label">Motivo:</span>
  <mat-select  [(ngModel)]=element.motivo >
    <mat-option *ngFor="let motivo of motivos" [value]="motivo.value">
      {{motivo.viewValue | titlecase}}
    </mat-option>
  </mat-select>
</mat-cell>
</ng-container> 

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addRow()"><i class="fa fa-plus mat-icon"></i></button>
        </mat-header-cell>
        <mat-cell class="duration-cell mat-typography" *matCellDef="let element"> <span class="mobile-label">Eliminar:</span>
          <button mat-icon-button color="warn" focusable="false" (click)="remove( element )">
              <mat-icon class="mat-18">delete</mat-icon>
              </button>
        </mat-cell>
      </ng-container> 
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-gold': row.dif }" ></mat-row>
  

  </mat-table>
</div>
<!--</div > -->


  <div fxLayout fxLayoutAlign="center center" style="padding-top: 10px">
  <button class="botons example-full-width" mat-raised-button (click)="goBack()" >   Salir</button> 
  <button class="botons example-full-width" mat-raised-button color="accent" (click)="goValidar()" > Validar</button> 
 
</div>

<button *ngIf="idPedido != 0" class="btnCreate" mat-fab color="primary" (click)="addRow()"><mat-icon>add</mat-icon></button>









