
    <form >
        <mat-card>  
          <mat-card-title>
          {{ descCentro }}
          </mat-card-title>
        <mat-form-field 
        class="example-full-width">
            <mat-label>Tipo movimiento</mat-label>
            <mat-select name="tipoMov" [(ngModel)]=tipoMov (ngModelChange)="onTipMovSelection()" > 
              <mat-option *ngFor="let mov of tiposMov" [value]="mov.tipMov" >
                    {{mov.desTipMov}}
              </mat-option>
            </mat-select>
          </mat-form-field>


        <mat-form-field class="example-full-width" *ngIf="tipoMov != 001">
          <input matInput placeholder="Documento" name="documento"
          [(ngModel)]="documento">
          
        </mat-form-field>

        <mat-form-field  class="example-full-width" *ngIf="tipoMov != 001">
          <mat-label>Tipo documento</mat-label>
          <mat-select name="tipoDoc" [(ngModel)]=tipoDoc>
            <mat-option *ngFor="let food of tiposRef" [value]="food.tipDocRef">
              {{food.desDocRef}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutGap.lt-sm='5px'
        fxLayoutAlign="flex-start" *ngIf="tipoMov == 001">
        <mat-form-field class="example-full-width" *ngIf="tipoMov == 001" fxFlex="0 1 calc(25% - 5px)" fxFlex.lt-sm="100%">
            <input matInput placeholder="Proveedor" name="proveedor" 
            [(ngModel)]="proveedor" (change)= "changeProveedor()">
          </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="tipoMov == 001" fxFlex="0 1 calc(75% - 5px)" fxFlex.lt-sm="100%">
              <input matInput readonly placeholder="Nombre" name="nombre"
              [(ngModel)]="nombre">  
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width" *ngIf="tipoMov != 002">
            <input matInput placeholder="Albarán" name="albaran"
            [(ngModel)]="albaran">
            
          </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Observaciones"
          name="observaciones" [(ngModel)]="observaciones"></textarea>
        </mat-form-field>
      </mat-card> 
      <mat-card>
        <button mat-raised-button>Salir</button> 
        <button mat-raised-button color="primary" (click)="goValidacion()" >Posiciones</button>

      </mat-card> 
  
</form>

