/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row {
  
  cursor: pointer;
  &:hover {
    background-color: #e9f3ff;
  }
  a {
    color: #3e75ff;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
  }
}


.mat-column-codigo {
  padding-right: 10px;
}

.mobile-label {
  display: none;
}
