
<h2 class="mat-h2">Articulos del proveedor</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"  class="mat-typography"> {{element.codigo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.nombre | titlecase}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="codProveedor">
    <th mat-header-cell *matHeaderCellDef> Cod.Proveedor </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.codProveedor}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef> ubicacion </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.ubicacion}} </td>
  </ng-container>

  <ng-container matColumnDef="descatalogado">
    <th mat-header-cell *matHeaderCellDef> descatalogado </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.descatalogado}} </td>
  </ng-container>

  <ng-container matColumnDef="stockCompras">
    <th mat-header-cell *matHeaderCellDef> Stock Compras </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.stockCompras}} </td>
  </ng-container>

  <ng-container matColumnDef="stockMaximo">
    <th mat-header-cell *matHeaderCellDef> Stock Maximo </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.stockMaximo}} </td>
  </ng-container>

  <ng-container matColumnDef="stockMinimo">
    <th mat-header-cell *matHeaderCellDef> Stock Minimo </th>
    <td mat-cell *matCellDef="let element" class="mat-typography"> {{element.stockMinimo}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>

</table>