

  <mat-toolbar color="primary" class="mat-elevation-z8" >
      <div *ngIf="icon == 'Menu'">
    <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>    
    </button> </div>
    <div *ngIf="icon == 'Back'">
          <button mat-icon-button (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>    
          </button> </div>
    <span>{{title}}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
</mat-toolbar>