
    <form>
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <img mat-card-avatar src="../assets/round_pageview_black_24dp.png">
          <mat-card-title> Detalles Artículo </mat-card-title>
          <mat-card-subtitle>Posición {{ idPosicion }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="articulo-image"
          src="http://maep7java.miquel.es:50100/irj/go/km/docs/xenon_eureka/Articulos/{{ posicion.codigo  }}_1.jpg"
          alt="Photo of a Shiba Inu">
  
        <mat-card-content>
    
          <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutGap.lt-sm='5px'
            fxLayoutAlign="flex-start">
            <ng-container>
              <mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput readonly placeholder="Codigo" name="Codigo" [(ngModel)]="posicion.codigo">
    
              </mat-form-field>
    
              <mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput readonly placeholder="Descripción" name="descripcion" [(ngModel)]="posicion.name">
    
              </mat-form-field>
    
    
              <mat-form-field *ngIf="datosArticulo" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput readonly placeholder="Caja" name="Caja" [(ngModel)]="datosArticulo.caja">
    
              </mat-form-field>
    
              <mat-form-field *ngIf="datosArticulo" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput readonly placeholder="Palet" name="palet" [(ngModel)]="datosArticulo.palet">
    
              </mat-form-field>
    
              <mat-form-field *ngIf="datosArticulo" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput readonly placeholder="Manto" name="manto" [(ngModel)]="datosArticulo.manto">
    
              </mat-form-field>
    
              <mat-form-field *ngIf="datosArticulo" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput readonly placeholder="Retractil" name="retractil" [(ngModel)]="datosArticulo.retractil">
    
              </mat-form-field>
    
            </ng-container>
          </div>
    
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Observaciones" name="observaciones" [(ngModel)]="observaciones"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="goBack()">Volver</button>
        </mat-card-actions>
    
      </mat-card>
    
    </form>