
  .example-form {
    margin: 20px;
    // margin-left: 20px;
    // margin-right: 20px;
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
   mat-card {
    margin: 20px;
   //  padding: 20px;
    // width: 100%;
  }

  mat-card-title {
    font-size: larger
  }

  mat-card-subtitle {
    padding: 20px;
  }
  .example-full-width {
   // margin: 20px;
    width: 100%;
   }

   
.example-header-image {
  background-image: url('http://maep7java.miquel.es:50100/irj/go/km/docs/xenon_eureka/Articulos/30418_1.jpg');
  background-size: cover;
}

.articulo-image {
  max-width: 200px;
}